<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>Flask {% block title %}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			  rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet"
			  media="screen">
		{% block css %}{% endblock %}
	</head>
	<body>
		{% include "header.html" %}
		<div class="site-content">
			<div class="container">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<br>
				<div class="row">
					<div class="col-md-12">
						{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							<a class="close"
							   title="Close"
							   href="#"
							   data-dismiss="alert">&times;</a>
							{{ message }}
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				{% endwith %}
				{% block content %}{% endblock %}
				<br>
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}
			</div>
		</div>
		<br><br>
		{% include "footer.html" %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
				type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
				type="text/javascript"></script>
		{% block js %}{% endblock %}
	</body>
</html>
